* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: '-apple-system', BlinkMacSystemFont, sans-serif;
 }
 
 /*========= Nav bar =========*/
 .navbar {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   width: 960px;
   margin: 15px auto;
   overflow: hidden;
 }
 .navbar a {
   border: 2px solid black;
   background-color: #006599;
   color: #fff;
   text-align: center;
   text-decoration: none;
   font-size: 15px;
   width: 150px;
   height: 40px;
   padding: 8px 0;
   margin: 0 auto;
 }
 .navbar a:hover {
   background-color: #5ca326;
   color: black;
 }
 
 /*========= Wrapper =========*/
 .wrapper {
   width: 95%;
   margin: 0 auto;
   font-size: 14px;
 }
 
 /* Label */
 .label {
   background: #5ca326;
   border: 1px solid black;
   height: 45px;
   padding: 10px 15px;
 }
 .label-title {
   font-size: 20px;
 }
 .label-time {
   float: right;
   font-size: 12px;
   font-style: italic;
   margin-top: 5px;
 }
 
 /* Path */
 ul.path {
   margin: 15px auto;
   width: 95%;
   padding: 10px 16px;
   list-style: none;
   background-color: #f0f0f0;
   border: 1px solid black;
 }
 ul.path li {
   display: inline;
   font-size: 16px;
 }
 ul.path li+li:before {
   padding: 8px;
   color: black;
   content: ">\00a0";
 }
 ul.path li a {
   color: #0275d8;
   text-decoration: none;
 }
 ul.path li a:hover {
   color: #01447e;
   text-decoration: underline;
 }

 /* Orders class Search box */
.order-search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  height: 50px;
  margin: 0 auto;
  background-color: #f0f0f0;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
}
.order-search > div > input {
  border: 1px solid #cdcdcd;
  padding-left: 7px;
  width: 170px;
  height: 20px;
  margin: 0 2px;
}
::-webkit-input-placeholder {
  font-style: italic;
}

/*========= Main =========*/
.main {
   display: block;
   overflow: auto;
   margin: 15px auto;
   width: 95%;
   border: 1px solid black;
   padding-bottom: 15px;
   padding-right: 10px;
   padding-left: 10px;
}

h1 {
  width: 400px;
  margin: 30px auto;
  text-decoration: underline;
  text-align: center;
}

/* Form's rows */
.row {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   overflow: auto;
   margin: 10px auto;
   width: 1200px;
   border: 1px solid #f0f0f0;
   padding: 10px 0 10px 25px;
 }
 .row:hover {
    background-color: #f0f0f0;
 }
 .row p { /* Error message */
   font-style: italic;
   font-size: 12px;
   margin: 5px 10px 0 0;
 }

/* Form submit buttons */
.main > #formBtn {
   text-align: center;
}
#addBtn {
   border: 1px solid black;
   margin: 0 3px;
   background-color: #006599;
   color: #fff;
   width: 50px;
   height: 20px;
}
#cancelBtn {
   border: 1px solid black;
   margin: 0 3px;
   width: 50px;
   height: 20px;
}
#formBtn > button:hover {
   background-color: #5ca326;
   color: black;
}

/* Form add row button */
#insertRows {
   margin: 15px auto;
   width: 960px;
   text-align: end;
}
#insertRows > button {
   margin: 0 0 0 5px;
   width: 45px;
   height: 20px;
}
#insertRows > button:hover {
   background-color: #0066FF;
   color: #fff;
}

/*========= Footer =========*/
.footer {
  background: #5ca326;
  border: 1px solid black;
  width: 95%;
  height: 25px;
  margin: 15px auto;
  font-style: italic;
  padding: 4px 0px;
}
.footer > p {
  font-size: 12px;
  text-align: center;
}